.top_bar {
  background: #252525;
  color: $mt-green;
  font-size: $px13;
  min-height: 3.16rem;
  display: -webkit-flex;
  display: flex;
  align-items: center;

  a {
    font-size: $px14;
    color: #ddd;
    font-weight: 600;

    &:focus, &:hover {
      color: #fff;
    }
  }
}

.top_bar__inner {
  @extend .container;
  padding-top: .3rem;
  padding-bottom: .3rem;
  text-align: center;

  @include media-breakpoint-up(md) {
    padding-top: .6rem;
    padding-bottom: .6rem;
  }
}

.top_bar__item {
  &:not(:last-child) {
    position: relative;
    margin-right: 55px;
  }
}
