.top_bar {
  background: #252525;
  color: #fff;
  font-size: .9rem;
  min-height: .3rem;

  a {
    color: #fff;
    text-decoration: underline;
  }
}

.top_bar__inner {
  padding: .5rem 0;
  text-align: center;

  @include media-breakpoint-up(md) {
    padding: 1rem 0;
  }
}

.top_bar__item {
  &:not(:last-child)::after {
    content: '\2022';
    color: #fff;
    margin-left: 6px;
    margin-right: 9px;
  }
}
