.grey{
  background:  linear-gradient(#f1f1f1, #f1f1f1) no-repeat;
  background-position: left;
}
  
.hero {
  h1 {
    margin-bottom: 25px;
  }
  
  h1.green {
    color: $mt-green;
  }

  h1.white {
    color: $white;
  }

  h1.black {
    color: $black;
  }

  h1.orange {
    color: $orange;
  }

  div.hero_green {
    box-shadow: 20px 20px $mt-green;
  }
  
  div.hero_white {
    box-shadow: 20px 20px $white;
  }
  
  div.hero_black {
    box-shadow: 20px 20px $black;
  }

  div.hero_orange {
    box-shadow: 20px 20px $orange;
  }
}

.contentful-hero__breadcrumb {
  a {
    color: grey;
  }
  color: grey;
  font-weight: bold;
  font-size: $px12;
}

.contentful-hero__section-type {
  color: $white;
  font-weight: 600;
  font-size: $px12;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.contentful-hero__page-title {
  margin: 0;
}

.contentful-hero__image {
  position: relative;
  z-index: 10;
  align-content: center;
  background: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.contentful-hero__header-links {
  color: $mt-green;
  font-weight: bold;
  line-height: 20px;
  background: rgba(0,0,0,0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.contentful-hero__links-mobile{
  color: $mt-green;
  position: absolute;
  left: 0px;
  font-weight: bold;
  line-height: 20px;
  display: hidden;
  padding-top: 50px;
}

.contentful-hero__header-links__title {
  font-size: $px20;
  line-height: 50px;
  color: white;
  font-weight: 40;
  margin-bottom: 0px;
  padding-top: 25px;
}

.contentful-hero__links__a {
  font-family: Poppins;
  font-weight: 800;
  color: $mt-green;
  text-decoration: underline;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.contentful-hero__row {
  margin-bottom: -150px;
}

.contentful-hero__text-box{

  padding-bottom: 125px;
}

.contentful-hero__text {
  color: #333;
  padding-right: 50px;
  font-size: 24px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 1.46;
}