.prose {
  color: #444;

  a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;

    &:hover, &:focus {
      color: $mt-green;
    }
  }

  blockquote {
    margin: 3rem 0 0 0;

    @include media-breakpoint-up(md) {
      margin-left: 3rem;
    }
  }

  img {
    max-width: 100%;
  }
}
