.prose {
  color: #444;
  font-size: 1.3rem;

  a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;

    &:hover, &:focus {
      color: $mt-green;
    }
  }

  blockquote {
    margin: 3rem 0 0 0;

    p {
      font-style: italic;
    }

    @include media-breakpoint-up(md) {
      margin-left: 5rem;
    }
  }

  img {
    max-width: 100%;
  }

  @include media-breakpoint-down(md) {
    h1, .h1 {
      font-size: $font-size-base * 2.25;
    }
  }
}
