@font-face {
  font-family: "neuzeits-book";
  src: url("~@madetech/marketing-assets/fonts/neuzeits-book.eot");
  src: url("~@madetech/marketing-assets/fonts/neuzeits-book.eot?#iefix") format("embedded-opentype"),
       url("~@madetech/marketing-assets/fonts/neuzeits-book.woff") format("woff"),
       url("~@madetech/marketing-assets/fonts/neuzeits-book.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
  font-variant:normal;
}
