@font-face {
  font-family: "poppins";
  src: marketing-font-url("poppins.eot");
  src: marketing-font-url("poppins.eot?#iefix") format("embedded-opentype"),
       marketing-font-url("poppins.woff") format("woff"),
       marketing-font-url("poppins.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat-reg";
  src: marketing-font-url("montserrat-reg.eot");
  src: marketing-font-url("montserrat-reg.eot?#iefix") format("embedded-opentype"),
       marketing-font-url("montserrat-reg.woff") format("woff"),
       marketing-font-url("montserrat-reg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-display: fallback;
}

@font-face {
  font-family: "montserrat-bold";
  src: marketing-font-url("montserrat-bold.eot");
  src: marketing-font-url("montserrat-bold.eot?#iefix") format("embedded-opentype"),
       marketing-font-url("montserrat-bold.woff") format("woff"),
       marketing-font-url("montserrat-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-display: fallback;
}
