@font-face {
  font-family: "neuzeit-s-book";
  src: marketing-font-url("neuzeit-s-book.eot");
  src: marketing-font-url("neuzeit-s-book.eot?#iefix") format("embedded-opentype"),
       marketing-font-url("neuzeit-s-book.woff") format("woff"),
       marketing-font-url("neuzeit-s-book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-display: swap;
}

@font-face {
  font-family: "neuzeit-gro-reg";
  src: marketing-font-url("neuzeit-gro-reg.eot");
  src: marketing-font-url("neuzeit-gro-reg.eot?#iefix") format("embedded-opentype"),
       marketing-font-url("neuzeit-gro-reg.woff") format("woff"),
       marketing-font-url("neuzeit-gro-reg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-display: fallback;
}

@font-face {
  font-family: "neuzeit-gro-bold";
  src: marketing-font-url("neuzeit-gro-bold.eot");
  src: marketing-font-url("neuzeit-gro-bold.eot?#iefix") format("embedded-opentype"),
       marketing-font-url("neuzeit-gro-bold.woff") format("woff"),
       marketing-font-url("neuzeit-gro-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-display: fallback;
}
