html {
  font-size: 14px;

  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-feature-settings: "liga" 0;
  -moz-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'neuzeit-s-book';
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
}

h1, .h1 {
  color: #000;
  margin: 0 0 1.5rem 0;
}

h2, h3, h4, h5, h6,
.h2, .h3, .h4, .h5, .h6 {
  color: #222;
  margin: 1.5rem 0 1rem 0;
}
