body {
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-feature-settings: "liga" 0;
  -moz-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'neuzeit-s-book';
  font-weight: bold;
  line-height: 1.5;
}

@include media-breakpoint-down(md) {
  h1, .h1 {
    font-size: $h1-font-size * $font-size-reduction-down-md;
  }

  h2, .h2 {
    font-size: $h2-font-size * $font-size-reduction-down-md;
  }

  h3, .h3 {
    font-size: $h3-font-size * $font-size-reduction-down-md;
  }

  h4, .h4 {
    font-size: $h4-font-size * $font-size-reduction-down-md;
  }

  h5, .h5 {
    font-size: $h5-font-size * $font-size-reduction-down-md + .05;
  }
}

h1, .h1 {
  color: #000;
}

h2, h3, h4, h5, h6,
.h2, .h3, .h4, .h5, .h6 {
  color: #222;
}
