.header_nav.scrollable {
  @include media-breakpoint-down(sm) {
    overflow-x: auto;
    max-width: 100%;
  }
}

.header_nav a {
  color: #333;
  font-size: 1.1rem;
  text-align: center;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  @include media-breakpoint-up(sm) {
    font-size: 1.15rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.2rem;
  }
}

.header_nav.constrain-link-width a {
  max-width: 9rem;
}
