.header_nav a {
  color: #333;
  font-size: .9rem;
  text-align: center;
  max-width: 8rem;

  @include media-breakpoint-up(sm) {
    font-size: 1.1rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.2rem;
    max-width: 9rem;
  }
}

.header_nav a:hover,
.header_nav a:focus {
  color: #333;
  text-decoration: underline;
}
