.header {
  @extend .container;
}

.header__inner {
  padding: 1rem 0;
}

.header__logo {
  padding: .5rem 0;
}

.header__logo_link,
.header__logo_link:hover,
.header__logo_link:focus {
  color: #000;
  text-decoration: none;
}
