.header_logo_type {
  @extend .d-flex;
  @extend .align-items-center;
  font-size: 1.2rem;
}

.header_logo_type__text {
  font-family: "montserrat-bold";
  font-size: 1.75rem;
  font-weight: normal;
}
