.header {
  @extend .container;
}

.header__inner {
  nav {
    min-height: 5.684rem;
  }
}

.header__logo {
  padding: .7rem 0;
}

.header__logo_link,
.header__logo_link:hover,
.header__logo_link:focus {
  color: #000;
  text-decoration: none;
}
