.header {
  @extend .container;
}

.header__inner {
  nav {
    height: 86px;
    
    @include media-breakpoint-up(sm) {
      min-height: 5.684rem;
      height: auto;
    }
    @media (max-width: 769px) and (min-width: 577px){
      min-height: 4.684rem;
      height: auto;
    }
  }
}

.header__logo {
  padding: .7rem 0;

  @media (max-width: 769px) {
    padding: 0;

    img {
      position: absolute;
      top: 35px;
      left: 0;
    }
  }
}

.header__logo_link,
.header__logo_link:hover,
.header__logo_link:focus {
  color: #000;
  text-decoration: none;
}
