.header_nav a {
  color: #333;

  @include media-breakpoint-up(lg) {
    max-width: 8em;
    text-align: center;
  }
}

.header_nav a:hover,
.header_nav a:focus {
  color: #333;
  text-decoration: underline;
}
