.jumbotron {
  background: #00ce5f;
  background: linear-gradient(to bottom right, #439a63 0%,#00ce5f 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  margin: 0;
  padding-bottom: 2rem;
  padding-top: 2rem;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: white;

    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 2rem;
  }

  h1 + p {
    font-size: 1.1rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
    }
  }

  blockquote::before {
    color: #fff;
  }

  small a {
    font-family: $font-family-sans-serif;
    font-size: $h4-font-size;
    font-weight: bold;
  }

  @include media-breakpoint-up(sm) {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}
