.footer {
  font-weight: bold;
  background: $mt-green;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  height: 60px;
  font-size: $px14;
}

.footer__social_link {
  img {
    height: 20px;
    opacity: 1;
    @include media-breakpoint-up(lg) {
      height: 22px;
    }
  }

  &:hover, &:focus {
    img {
      opacity: .7;
    }
  }
}

.footer__social_link {
  margin-left: $px14;
}
