$marketing-assets-path: "~@madetech/marketing-assets/" !default;
$marketing-images-path: "#{$marketing-assets-path}images/" !default;
$marketing-fonts-path: "#{$marketing-assets-path}fonts/" !default;
