@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap");

$font-family-sans-serif: "montserrat", Helvetica, Arial, sans-serif;
$font-family-sans-serif--special: "poppins", Helvetica, Arial, sans-serif;
$font-weight-bolder: 900;
$font-weight-semi-bold: 600;
$paragraph-margin-bottom: 1.5rem;

$px80: 4.21rem;
$px65: 3.42rem;
$px50: 2.63rem;
$px40: 2.1rem;
$px36: 1.9rem;
$px30: 1.58rem;
$px26: 1.37rem;
$px24: 1.26rem;
$px20: 1.05rem;
$px19: 1rem;
$px18: 0.95rem;
$px16: 0.8rem;
$px14: 0.74rem;
$px13: 0.68rem;
$px12: 0.63rem;
$px1: 0.05rem;
$px08: 0.04rem;
$px06: 0.03rem;
