.site_map {
  background: #333;
  color: #999;
  padding: 4.8rem 0 3.7rem 0;

  p {
    margin-bottom: .5rem;
  }

  strong {
    color: #ddd;
  }

  a {
    color: #999;
    display: block;
    margin-bottom: .5rem;
    text-decoration: none;
    font-weight: 600;

    &:focus, &:hover {
      color: #ddd;
    }

    @include media-breakpoint-up(md) {
      // font-size: .9rem;
    }
  }
}

.map_header {
  margin-bottom: 4.7rem;
}

.nav_links {
  font-size: $px14;
  border-bottom: 2px rgba(white, 0.1) solid;
  border-top: 2px rgba(white, 0.1) solid;
  padding-top: 4.7rem;
  padding-bottom: 2.5rem;
}

.tagline {
  color: $mt-green;
  font-size: $px24;
}

.logos {
  margin-top: 2.5rem; 

  img {
    padding-right: 6.7rem;
  }
}
